node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Do not ignore .env.production as it contains PUBLIC_URL setting needed for GitHub Pages
!.env.production
service-account-key.json
